{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

<style>
{% block style %}

{% endblock style %}
</style>

{% block content %}
<div class='container'>
  <div class='card card-container'>
    <h1>Register for free!</h1>
    <form method="post" action=".">
      {% csrf_token %}
      {{form|crispy}}
      <!-- {% for field in form %}
      <div class='form-group'>
          <input type='{{filed}}' class='form-control' name='username' placeholder='{{field.name}}' />
      </div>

      {% endfor %} -->
      <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Join' %}" />
      <br />
      <p class="text-center">Need to <a href="{% url 'auth_login' %}">Login</a>?</p>
    </form>
  </div>
</div>



{% endblock %}
