ecommerce2/settings/db_password.py
ecommerce2/settings/local.py

bin/
include/
pip-selfcheck.json

*.pyc
__pycache__
*$py.class

*.so

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
var/
*.egg-info/
installed.cfg
*.egg
myvenv
*.sqlite3
.DS_Store
