braintree==3.33.0
cffi==1.8.3
cryptography==1.5.2
dj-database-url==0.4.1
Django==1.8.4
django-crispy-forms==1.6.1
django-filter==0.11.0
django-registration-redux==1.4
gunicorn==19.6.0
idna==2.1
ndg-httpsclient==0.4.2
Pillow==3.4.2
psycopg2==2.6.2
pyasn1==0.1.9
pycparser==2.17
pyOpenSSL==16.2.0
requests==2.11.1
six==1.10.0
whitenoise==3.2.3
