#cart_position{
}


.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 1px;
    -webkit-border-radius: 2px;
    border-radius: 1px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


.text-align-center {
	text-align: center;
}
.og_price{
		color:red;
		text-decoration: line-through;
}

.pagination{
  position: absolute;
  margin-left: 15px;
  bottom: 30px;
}



/* products thumbnail style */
.col-item
{
	padding: 10px;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
	background: #FFF;
}

.col-item .info
{
	padding: 0px;
	border-radius: 0 0 5px 5px;
	margin-top: 5px;
}

.col-item .info .rating
{
	color: #777;
}

.col-item .rating
{
	/*width: 50%;*/
	float: left;
	font-size: 17px;
	text-align: right;
	line-height: 52px;
	margin-bottom: 10px;
	height: 52px;
}

.col-item .separator
{
	border-top: 1px solid #E1E1E1;
}

.col-item .separator p
{
	line-height: 20px;
	margin-bottom: 0;
	margin-top: 10px;
	text-align: center;
}

.col-item .separator p i
{
	margin-right: 5px;
}
.col-item .btn-add
{
	width: 50%;
	float: left;
}

.col-item .btn-details
{
	width: 50%;
	float: left;
	padding-left: 10px;
}

.col-item .info .rating {
    color: #777;
    position: relative;
    right: 10px;
}
/* finish  product thumbnail style */


/* product detail style */
#image-detail{
  margin-top: 30px;
}
/* finish product detail style */
