{% extends "base.html" %}


<script>
{% block jquery %}
$(".item-qty").change(function(){
	// $(this).next(".btn-update").fadeIn();
	// event.preventDefault();
	// .prev(h1)
	var item = $(this).prev("input[type='hidden']").val();
	var qty = $(this).val()
	var data = {
		item: item,
		qty: qty
	}
	console.log(data);
	$.ajax({
		type: "GET", // "POST"
		url: "{% url 'cart' %}",
		data: data,
		success: function(data) {
			$("#jquery-message").text("Added " + data.item_added + " Deleted " + data.deleted)
			if (data.deleted){
				$("#item-"+item).fadeOut();
				$("#subtotal").text(data.subtotal);
				$("#taxtotal").text(data.tax_total);
				$("#carttotal").text(data.cart_total);
			} else {
				$("#item-line-total-"+item).text(data.line_total);
				$("#subtotal").text(data.subtotal);
				$("#taxtotal").text(data.tax_total);
				$("#carttotal").text(data.cart_total);
			}
			if (data.total_items == 0 ) {
				$(".table").fadeOut()
				var template = "{% include 'carts/empty_cart.html' %}";
				$(".main-content").html(template);
			}
			var message = ""
			if (data.item_added) {
				message = "New item added"
			} else if (data.deleted){
				message = "Item removed"
			} else {
				message = "Item updated"
			}
			showFlashMessage(message);
			updateCartItemCount()
			},
		error: function(response, error) {
			// console.log(response)
			// console.log(error)
			$("#add-form").submit()
		}
	})
});
{% endblock %}
</script>

{% block content %}


<div class='row main-content'>

{% if object.cartitem_set.count < 1 %}

{% include "carts/empty_cart.html" %}
{% else %}



<h1 class="text-center">Your cart</h1>
<hr />

	<div class="container">
	    <div class="row">
	        <div class="col-sm-8 col-md-offset-2">
	            <table class="table table-hover">
	                <thead>
	                    <tr>
	                        <th>Product</th>
	                        <th>Quantity</th>
	                        <th class="text-center">Price</th>
	                        <th class="text-center">Total</th>
	                        <th> </th>
	                    </tr>
	                </thead>

{% for item in object.cartitem_set.all %}
                <tbody>
                    <tr>
                        <td class="col-sm-8 col-md-6">
	                        <div class="media">
	                            <a class="thumbnail pull-left " href="#"> <img class="media-object" src="{{ item.item.product.get_image_url }}" style="width: 72px; height: 72px;"> </a>
	                            <div class="text-center">
	                                <h4 class="media-heading"><a href="#">{{item.item.get_title}}</a></h4>
																	{% if item.item.inventory < 1 %}
																		<span>Status: </span><span class="text-success"><strong>Out of Stock</strong></span>
																	{% else %}
	                                	<span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
																	{% endif %}
	                            </div>
	                        </div>
												</td>
                        <td class="col-sm-1 col-md-2" style="text-align: center">
                        <form action="." method="GET" ><input  type='hidden' name='item' value='{{ item.item.id }}' /><input type='number' class='form-control item-qty' name='qty' value='{{ item.quantity }}' /><input type='submit' class='btn-update btn btn-link' value='Update item' style='display:none;'/></form></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>${% if item.item.sale_price %}{{item.item.sale_price }}{%else%}{{item.item.price}}{% endif %}</strong></td>
                        <td  id='item-line-total-{{ item.item.id }}' class="col-sm-1 col-md-1 text-center"><strong></strong>${{ item.line_item_total }}</strong></td>
                        <td class="col-sm-1 col-md-1"><a class="btn btn-danger" href='{{ item.remove }}'>Remove</a></td>
                    </tr>
										{% endfor %}
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong><span id='subtotal'>${{ object.subtotal }}</span></span></strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Tax (Estimated):</h5></td>
                        <td class="text-right"><h5><strong><span id='taxtotal'>${{ object.tax_total }}</span></strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong><span id='carttotal'>${{ object.total }}</span></strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <a class="btn btn-default" href="{% url 'home' %}">Continue Shopping</a</td>
                        <td>
                        <a class='btn btn-success' href="{% url 'checkout' %}">Checkout</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}

</div>

{% endblock %}
