{% extends "base.html" %}
{% load crispy_forms_tags %}

<style>
{% block style %}

#address{
  border-radius: 12px;
}
#address{
  padding: 20px;
  height: 500px;
}

{% endblock style %}
</style>


{% block content %}

<div id="address" class=" panel panel-default col-sm-8 col-sm-offset-2" >
  <ol class="breadcrumb"><h3>Delivery address</h3></ol>
<div class="text">
  <br />
  <form  method="POST" action=''>
    {% csrf_token %}
    {{form|crispy}}
    <input class="btn btn-success" type="submit" value="select" />
    <a class="btn btn-default" href='{% url "user_address_create" %}'>Add New</a>
  </form>
</div>

</div>
{% endblock %}
