<style>
{% block style %}

{% endblock style %}

</style>

<dl class="dl-horizontal ">
  <dt><h1><b>ORDER</b></h1></dt>
  <dd><h1>{{order.order_id}}</h1></dd>
  <dt>STATUS</dt>
  <dd>{{object.get_status_display}}</dd>
  <dt>ITEM{% if order.cart.items.count > 1 %}S{% endif %}</dt>
  <dd>{% for i in order.cart.cartitem_set.all %}<b>{{i.item.get_title}}</b>{% endfor %}</dd>
  <dt>TAX</dt>
  <dd>{{ order.cart.tax_total}}</dd>
  <dt>SUBTOTAL</td>
  <dd>{{ order.cart.subtotal}}</dd>
  <dt>SHIPPING</dt>
  <dd>{{ order.shipping_total_price}}</dd>
  <dt>ORDER TOTAL</dt>
  <dd>{{ order.order_total}}</dd>
</dl>

<dl class="dl-horizontal">
  <dt>BILLING</dt>
  <dd><td>{{order.billing_address.get_addresses}}</td></dd>
  <dt>SHIPPING</dt>
  <dd>{{order.shipping_address.get_addresses}}</dd>
</dl>
