{% extends "dashboard/index.html" %}

{% load crispy_forms_tags%}

{% block accounts_content%}

<style media="screen">
  {% block style %}
      .list-group-item ul{
        text-decoration: none;
        list-style-type: none;
      }

      #address-box  a{
        text-decoration: none;
      }

      #address-box  a i{
        text-decoration: none;
      }

      #address-box  a i:hover{
        color:#a9a9a9;
        display: block;
      }
  {% endblock style %}
</style>

<div class="page-header">
<h1 class="text-center">Address</h1>
</div>


  {% for object in object_list  %}
  <div class="col-sm-4 {{ col_class_set }}" >
  <div class="list-group" id="address-box">
    <div class="list-group-item active">
      <h2 class="list-group-item-heading">{{object.type}}</h2>
      <a class="pull-right" style="color:white; position:relative; top:-20px; " href="{% url 'accounts_users:address_delete' pk=object.pk %}"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
      <a class="pull-right" style="color:white; position:relative; top:-20px; left:-10px;" href="{% url 'accounts_users:address_edit' pk=object.pk %}"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>
    </div>
    <div class="list-group-item">
       <ul>
         <li><b>{{object.street}}</b></li>
         <li>{{object.city}}</li>
         <li>{{object.state}}</li>
         <li>{{object.zipcode}}</li>
       </ul>
    </div>
  </div>
  {% if forloop.counter|divisibleby:3 %}
    </div><div class="row">
  {% endif %}
  </div>
  {% endfor %}

{% endblock accounts_content%}
