{% extends "base.html" %}

{% block content %}
  <div class="container-fluid ">
    <div class="row">
        <div class="col-md-2" id="side-menu">
            <ul class="nav nav-sidebar">
                <div class="list-group">
                  <a href="#" class="list-group-item active">My account</a>
                  <a href="{% url 'order_list' %}" class="list-group-item">Orders</a></a>
                </div>
            </ul>
        </div>
        <div class="col-md-10 box">
            <h3 >Dashboard</h3>
            {% block accounts_content  %}

            {% endblock accounts_content %}
        </div>
    </div>
  </div>
{% endblock content %}
