{% extends "base.html" %}

{% block title%} Minha Conta {% endblock title %}

{% block content %}
<div class="col-sm-3 col-md-2 sidebar ">
  <ul class="nav nav-sidebar">
      <div class="list-group">
        <a href="#" class="list-group-item active">Orders</a>
        <a href="{% url 'order_list' %}" class="list-group-item">My Orders</a></a>
      </div>

  </div>
</div>
<div class="col-sm-8 col-md-offset-4 col-sm-8 col-md-offset-2">
    <h1 class="page-header">Dashboard</h1>
      {% block accounts_content  %}

    {% endblock accounts_content %}
</div>
{% endblock content %}
